aniso8601==6.0.0
attrs==19.1.0
Click==7.0
envparse==0.2.0
Flask==1.0.2
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.4.0
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.1
MarkupSafe==1.1.1
marshmallow==2.19.2
psycopg2==2.8.2
pymongo==3.8.0
pyrsistent==0.15.2
pytz==2019.1
six==1.12.0
SQLAlchemy==1.3.3
uWSGI==2.0.18
Werkzeug==0.15.3
